.contact-form{
  position: absolute;
  margin-top:260px;
  
  
  
}

.cv{
  position:absolute;
  margin-top:-110px;
  margin-left:620px;
}
#resume{
  font-size:80px;
  color:#EEBB52;
  animation: jump 1s infinite 0s;
  
}

.main-form{
  background-color: white;
  border:5px solid #EEBB52;
  position: absolute;
  margin-left:350px;
  width:600px;
  height:600px;
  border-radius:50px;
  
}
#getintouch{
  margin-top:50px;
  display:flex;
  justify-content: center;
  color:#EEBB52;
  font-weight: bold;
}
#information-contact{
  display:flex;
  justify-content: center;
  color:#EEBB52;
}
#full-name12{
  display: flex;
  justify-content: center;
  
  margin-bottom:30px;
  margin-left:5px;
  color:#EEBB52;
}
#fname12{
  display:flex;
  justify-content: flex-start;
  margin-left:60px;
  margin-top:-20px;
  width:200px;
}
#resume-btn{
  background:transparent;
  border:none;
}
#resume-btn:hover{
  cursor: pointer;
  box-shadow: 0px 10px 100px black;
  border-radius:25px;
}
#lname12{
  position: absolute;
  width:200px;
  margin-top:-22.5px;
  margin-left:320px;
}
#first-name{
  position: absolute;
  margin-top:-20px;
  margin-left:130px;
  color:#EEBB52;
}
#last-name{
  position: absolute;
  margin-top:-20.5px;
  margin-left:390px;
  color:#EEBB52;
}
#contact-number{
width:200px;
position: absolute;
margin-left:60px;
margin-top:10px;
}
#numberforcontact{
  position: absolute;
  margin-top:10px;
  margin-left:60px;
  color:#EEBB52;
}
#message-field{
  position: absolute;
  margin-top:40px;
  color:#EEBB52;
  margin-left:280px;
}
#anytext{
  position: absolute;
  margin-top:50px;
  margin-left:60px;
  width:480px;
  height:100px;
  letter-spacing: 3px;
  color:#EEBB52;
}
#submit-value{
  margin-top:200px;
  position:absolute;
  margin-left:220px;
  height:40px;
  width:200px;
  border-radius: 10px;
  background:linear-gradient(to right, #FED9B7, #F07167);
  color:white;
  animation: jump 1s infinite 0.1s;

}

@media screen and (max-width:768px){
  
  #resume{

   position:absolute;
   margin-left:-490px;
   margin-top:50px;
  }
  .main-form{
    width:300px;
    height:450px;
    margin-left:10px;
    margin-top:50px;
    
  }
  #getintouch{
    display:flex;
    justify-content: center;
    margin-top:10px;
    font-size:12px;
  }
  #information-contact{
    display:flex;
    justify-content: center;
    margin-top:-5px;
    font-size:10px;
  }
  #full-name{
    display:flex;
    justify-content: center;
    font-size:10px;
    margin-left:0;
  }
  
  #fname{
    
    width:150px;
    height:12px;
    font-size:10px;
    margin-left:70px;
  }
  #lname{
    width:150px;
    height:12px;
    font-size:10px;
    position: relative;
    margin-left:70px;
    margin-top:25px;
  }
  #first-name{
    font-size:10px;
    margin-left:70px;
    margin-top:-43px;
  }
  #last-name{
    font-size:10px;
    margin-left:70px;
    margin-top:0px;
  }
  #contact-number{
    width:150px;;
    height:12px;
    font-size:10px;
    margin-left:70px;
    margin-top:0px;
  }
  #numberforcontact{
    font-size: 10px;
    margin-top:0px;
    margin-left:70px;
  }
  #message-field{
    display:flex;
    justify-content: center;
    margin-left:130px;
    font-size:12px;
    margin-top:30px;
  }
  #anytext{
    width:180px;
    height:100px;
    margin-top:30px;
    font-size:10px;
  }
  #submit-value{
    margin-left:100px;
    margin-top:130px;
    width:100px;
    height:30px;

  }
}