.navigation{
  position: fixed;
  border: 0px solid black;
  height:100px;
  width:100%;
  background-color:#F3F3F3;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  align-items: center;
  margin-left:100px;
  z-index:999;
}

.nav-pages{
  position: relative;
  margin-left:70px;
  text-decoration: none;
  color:rgb(124, 120, 120);
  font-weight: bold;
  font-size:18px;
  opacity: 1;
  transition:color 0.25s ease-in 0s;

}
.nav-pages:hover{
transform:translateX(-2%);
 cursor: pointer;
 color:#EEBB52;
}

.pages{
  margin-right:250px;
  
}

#logo{
  position: absolute;
  left:0;
  top:0;
  width:200px;
  height:100px;
  
  
}

#logo:hover{
cursor: pointer;
transform:translateX(-2%);

}

.bar{
  position: fixed;
  justify-content: flex-end;
  width:100%;
  margin-left:300px;
  margin-top:-28px;
  
}

#menu-bar{
  display:flex;
  position: fixed;
  align-items: center;
  font-size:30px;
  font-weight: bold;
  background: transparent;
  border: none;
  color:#EEBB52;
  display:none;
  z-index:99999;

}

.menu{
  
  position: fixed;
  width:100%;
  margin-left:-350px;
  display:none;
  z-index:999;


}
.open-menu-home{
  
  position: fixed;
  margin-top:20px;
  text-decoration: none;
  color:black;
  font-size:20px;
  font-weight: bold;
  color:#EEBB52;
  width:100%;
  z-index:999;
  
  
}
.open-menu-about{
  position: fixed;
  text-decoration: none;
  color:black;
  font-size:20px;
  font-weight: bold;
  color:#EEBB52;
  margin-top:70px;
  width:100%;
}
.open-menu-projects{
  position: fixed;
  text-decoration: none;
  color:black;
  font-size:20px;
  font-weight: bold;
  color:#EEBB52;
  margin-top:130px;
  width:100%;
}
.open-menu-contact{
  position: fixed;
  text-decoration: none;
  color:black;
  font-size:20px;
  font-weight: bold;
  color:#EEBB52;
  margin-top:190px;
  width:100%;
  
}
li{
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  #menu-bar {
    position:fixed;
    opacity: 1;
    display:inline-block;
    justify-content: center;
    margin-left:-150px;
    margin-top:-65px;
  }
  .nav-pages{
    opacity:1;
    display:none; 
  }
 #logo{
  margin-left:-150px;
  margin-top:-30px;
  padding-top:25px;
 
  
 }
 .menu{
  display:block;
 }
 #menu-bar:active ~ .navigation {
  height: 500px;
 }
.navigation{
  height:200px;
}
.open-menu-home{
  margin-top:-30px;
}
.open-menu-about{
  margin-top:-5px;
}
.open-menu-projects{
  margin-top:20px;
}
.open-menu-contact{
  margin-top:45px;
}

}